[Unit]
Description=Pelikan Alakol Bar Telegram Bot (Polling + Webhook)
After=network.target

[Service]
Type=simple
User=youruser
WorkingDirectory=/home/youruser/telegram_bot_pelican_alacol
Environment="PATH=/home/youruser/telegram_bot_pelican_alacol/venv/bin"
ExecStart=/home/youruser/telegram_bot_pelican_alacol/venv/bin/python bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
